:root {
  --neutralswhite: rgba(255, 255, 255, 1);
  --primarygr-dark: rgba(17, 24, 39, 1);
  --primarygb-main: rgba(59, 70, 241, 1);
  --medium-1: rgba(75, 85, 99, 1);
  --yellow-800: rgba(146, 64, 14, 1);
  --yellow-100: rgba(254, 243, 199, 1);
  --gray-100: rgba(243, 244, 246, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --gray-200: rgba(229, 231, 235, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --gray-500: rgba(107, 114, 128, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --indigo-600: rgba(79, 70, 229, 1);
  --rose-50: rgba(255, 241, 242, 1);
  --gray-600: rgba(75, 85, 99, 1);
  --label-l3semibold-font-family: "Inter", Helvetica;
  --label-l3semibold-font-weight: 600;
  --label-l3semibold-font-size: 16px;
  --label-l3semibold-letter-spacing: 0px;
  --label-l3semibold-line-height: 20px;
  --label-l3semibold-font-style: normal;
  --body-body-14-med-font-family: "Inter", Helvetica;
  --body-body-14-med-font-weight: 500;
  --body-body-14-med-font-size: 14px;
  --body-body-14-med-letter-spacing: -0.0840000033378601px;
  --body-body-14-med-line-height: 20px;
  --body-body-14-med-font-style: normal;
  --heading-h1-font-family: "Urbanist", Helvetica;
  --heading-h1-font-weight: 700;
  --heading-h1-font-size: 56px;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 120.00000762939453%;
  --heading-h1-font-style: normal;
  --body-body-16-reg-font-family: "Inter", Helvetica;
  --body-body-16-reg-font-weight: 400;
  --body-body-16-reg-font-size: 16px;
  --body-body-16-reg-letter-spacing: -0.09600000381469727px;
  --body-body-16-reg-line-height: 24px;
  --body-body-16-reg-font-style: normal;
  --body-body-20-sem-font-family: "Inter", Helvetica;
  --body-body-20-sem-font-weight: 400;
  --body-body-20-sem-font-size: 20px;
  --body-body-20-sem-letter-spacing: -0.12000000476837158px;
  --body-body-20-sem-line-height: 140%;
  --body-body-20-sem-font-style: normal;
  --body-body-16-med-font-family: "Inter", Helvetica;
  --body-body-16-med-font-weight: 500;
  --body-body-16-med-font-size: 16px;
  --body-body-16-med-letter-spacing: -0.09600000381469727px;
  --body-body-16-med-line-height: 24px;
  --body-body-16-med-font-style: normal;
  --body-body-14-reg-font-family: "Inter", Helvetica;
  --body-body-14-reg-font-weight: 400;
  --body-body-14-reg-font-size: 14px;
  --body-body-14-reg-letter-spacing: -0.0840000033378601px;
  --body-body-14-reg-line-height: 20px;
  --body-body-14-reg-font-style: normal;
  --heading-h2-font-family: "Urbanist", Helvetica;
  --heading-h2-font-weight: 700;
  --heading-h2-font-size: 48px;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 120.00000762939453%;
  --heading-h2-font-style: normal;
  --body-body-18-reg-font-family: "Inter", Helvetica;
  --body-body-18-reg-font-weight: 400;
  --body-body-18-reg-font-size: 18px;
  --body-body-18-reg-letter-spacing: -0.10800000429153442px;
  --body-body-18-reg-line-height: 160%;
  --body-body-18-reg-font-style: normal;
  --text-base-font-medium-font-family: "Inter", Helvetica;
  --text-base-font-medium-font-weight: 500;
  --text-base-font-medium-font-size: 16px;
  --text-base-font-medium-letter-spacing: 0px;
  --text-base-font-medium-line-height: 24px;
  --text-base-font-medium-font-style: normal;
  --text-sm-font-medium-font-family: "Inter", Helvetica;
  --text-sm-font-medium-font-weight: 500;
  --text-sm-font-medium-font-size: 14px;
  --text-sm-font-medium-letter-spacing: 0px;
  --text-sm-font-medium-line-height: 20px;
  --text-sm-font-medium-font-style: normal;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-family:
    "Inter", Helvetica;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-weight: 500;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-size: 12px;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-letter-spacing: 0.6000000000000001px;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-line-height: 16px;
  --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-style: normal;
  --text-sm-font-normal-font-family: "Inter", Helvetica;
  --text-sm-font-normal-font-weight: 400;
  --text-sm-font-normal-font-size: 14px;
  --text-sm-font-normal-letter-spacing: 0px;
  --text-sm-font-normal-line-height: 20px;
  --text-sm-font-normal-font-style: normal;
  --text-base-font-normal-font-family: "Inter", Helvetica;
  --text-base-font-normal-font-weight: 400;
  --text-base-font-normal-font-size: 16px;
  --text-base-font-normal-letter-spacing: 0px;
  --text-base-font-normal-line-height: 24px;
  --text-base-font-normal-font-style: normal;
  --heading-h3-font-family: "Urbanist", Helvetica;
  --heading-h3-font-weight: 700;
  --heading-h3-font-size: 44px;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 120.00000762939453%;
  --heading-h3-font-style: normal;
  --headings-h3-font-family: "Vert Grotesk Display", Helvetica;
  --headings-h3-font-weight: 700;
  --headings-h3-font-size: 44px;
  --headings-h3-letter-spacing: 0px;
  --headings-h3-line-height: 120.00000762939453%;
  --headings-h3-font-style: normal;
  --headings-h6-font-family: "Vert Grotesk Display", Helvetica;
  --headings-h6-font-weight: 400;
  --headings-h6-font-size: 26px;
  --headings-h6-letter-spacing: 0px;
  --headings-h6-line-height: 120.00000762939453%;
  --headings-h6-font-style: normal;
  --body-body-12-med-font-family: "Inter", Helvetica;
  --body-body-12-med-font-weight: 500;
  --body-body-12-med-font-size: 12px;
  --body-body-12-med-letter-spacing: -0.07200000286102297px;
  --body-body-12-med-line-height: 16px;
  --body-body-12-med-font-style: normal;
  --body-body-12-reg-font-family: "Inter", Helvetica;
  --body-body-12-reg-font-weight: 400;
  --body-body-12-reg-font-size: 12px;
  --body-body-12-reg-letter-spacing: -0.07200000286102297px;
  --body-body-12-reg-line-height: 16px;
  --body-body-12-reg-font-style: normal;
  --heading-h6-font-family: "Urbanist", Helvetica;
  --heading-h6-font-weight: 500;
  --heading-h6-font-size: 26px;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 120.00000762939453%;
  --heading-h6-font-style: normal;
  --paragraph-03-p3semibold-font-family: "Inter", Helvetica;
  --paragraph-03-p3semibold-font-weight: 600;
  --paragraph-03-p3semibold-font-size: 16px;
  --paragraph-03-p3semibold-letter-spacing: 0px;
  --paragraph-03-p3semibold-line-height: 24px;
  --paragraph-03-p3semibold-font-style: normal;
  --label-l5regular-font-family: "Inter", Helvetica;
  --label-l5regular-font-weight: 400;
  --label-l5regular-font-size: 12px;
  --label-l5regular-letter-spacing: 0px;
  --label-l5regular-line-height: 16px;
  --label-l5regular-font-style: normal;
  --body-body-16-sem-font-family: "Inter", Helvetica;
  --body-body-16-sem-font-weight: 600;
  --body-body-16-sem-font-size: 16px;
  --body-body-16-sem-letter-spacing: -0.09600000381469727px;
  --body-body-16-sem-line-height: 24px;
  --body-body-16-sem-font-style: normal;
  --paragraph-04-p4regular-font-family: "Inter", Helvetica;
  --paragraph-04-p4regular-font-weight: 400;
  --paragraph-04-p4regular-font-size: 14px;
  --paragraph-04-p4regular-letter-spacing: 0px;
  --paragraph-04-p4regular-line-height: 20px;
  --paragraph-04-p4regular-font-style: normal;
  --body-body-12-sem-font-family: "Inter", Helvetica;
  --body-body-12-sem-font-weight: 600;
  --body-body-12-sem-font-size: 12px;
  --body-body-12-sem-letter-spacing: -0.07200000286102297px;
  --body-body-12-sem-line-height: 16px;
  --body-body-12-sem-font-style: normal;
  --headings-h5-font-family: "Vert Grotesk Display", Helvetica;
  --headings-h5-font-weight: 400;
  --headings-h5-font-size: 32px;
  --headings-h5-letter-spacing: 0px;
  --headings-h5-line-height: 120.00000762939453%;
  --headings-h5-font-style: normal;
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadows-s3: 0px 16px 32px -12px rgba(88, 92, 95, 0.1);
  --shadows-s2: 0px 2px 4px 0px rgba(27, 28, 29, 0.04);
  --shadows-s4: 0px 16px 40px -8px rgba(88, 92, 95, 0.16);
}
